.popup__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 165px);
}
@media screen and (max-width: 525px) {
  .popup__container {
    margin: 123px auto 0;
    width: 282px;
    top: calc(50% - 161px);
  }
}
