.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 430px;
  margin: auto;
  top: calc(50% - 165px);
}
@media screen and (max-width: 525px) {
  .popup__container {
    width: 282px;
    top: calc(50% - 161px);
  }
}
