.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  margin: auto 0;
  padding: 0;
  background: url(./../../../images/plus.svg) no-repeat center;
  cursor: pointer;
}
.profile__button-add:hover {
  opacity: 0.6;
}
@media screen and (max-width: 900px) {
  .profile__button-add {
    margin: 36px 19px 0;
    width: 100%;
    background: url(./../../../images/plus_min.svg) no-repeat center;
  }
}
