.element {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .element {
    max-width: 100%;
  }
}

